{% extends "base.html" %}
{% from 'bootstrap4/form.html' import render_form %}

{% block title %}
{% if type == "register" %}
Account Registration
{% else %}
Account Login
{% endif %}
{% endblock %}

{% block content %}
<main class="mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto pt-5">
                {{render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            </div>
        </div>
    </div>
</main>
{% endblock %}
